{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-dynamic-import-node",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "pages": "./pages",
          "plugins": "./plugins",
          "styles": "./styles",
          "store": "./store",
          "tests": "./tests",
          "utils": "./utils",
        }
      }
    ]
  ]
}
