.title-decorator {
  display: inline-block;
  &--circle {
    @extend .title-decorator;
    @include circle($green, 22px);
  }
  &--square {
    @extend .title-decorator;
    @include square($pink, 22px, 343deg);
  }
}

.decorative-strip {
  &--yellow {
    @include strip($yellow, 8px, 60px, -30deg);
    z-index: -1;
  }
}

.decorative-square {
  @include square($green, 55px, 60deg);
  position: absolute;
  left: -15px;
  top: -20px;
  z-index: -1;
}

.decorative-circle {
  @include circle($pink, 65px);
  z-index: -1;
  top: 100px;
  right: -30px;
  position: absolute;
}
