.title-decorator {
  display: inline-block;
  &--circle {
    @extend .title-decorator;
    @include circle($green, 22px);
  }
  &--square {
    @extend .title-decorator;
    @include square($pink, 22px, 343deg);
  }
}

.decorative-strip {
  &--yellow {
    @include strip($yellow, 8px, 60px, -30deg);
  }
}

.decorative-square {
  @include square($green, 55px, 60deg);
  position: absolute;
  left: -15px;
  top: -20px;
}

.decorative-circle {
  @include circle($pink, 65px);
  top: 100px;
  right: -30px;
  position: absolute;
}

.decorative-wave {
  &--yellow {
    @include wave(yellow, 280px);
  }
  &--white {
    @include wave(white, 280px);
  }
  &--pink {
    @include wave(pink, 280px);
  }
}
