menu {
  padding: 0px;
}

.menu {
  padding: 0px;
  display: flex;
  align-items: center;
  &__item {
    font-size: .75em;
    color: $black;
    font-weight: $font-weight-black;
    padding: 0px 15px;
    list-style: none;
    &__link {
      text-decoration: none;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $pink;
      }
    }
  }
}
