.section-title {
  font-family: Roboto Condensed, sans-serif;
  font-size: 1.75em;
  font-style: italic;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $black;
  &:before {
    content: '';
    margin-right: 25px;
    @extend .title-decorator--circle;
  }
  &:after {
    content: '';
    margin-left: 25px;
    @extend .title-decorator--square;
  }
}
