@mixin square($color, $size, $angle) {
  transform: rotate($angle);
  transform-origin: center center;
  background-color: $color;
  width: $size;
  height: $size;
  z-index: -1;
}

@mixin circle($color, $size) {
  background-color: $color;
  border-radius: 50%;
  width: $size;
  height: $size;
  z-index: -1;
}

@mixin strip($color, $width, $height, $angle) {
  @include square($color, 0, $angle);
  width: $width;
  height: $height;
  z-index: -1;
}

@mixin wave($color, $width) {
  background-size: contain;
  background-repeat: no-repeat;
  width: $width;
  height: $width / 4.5;
  background-image: url(../assets/waves-#{$color}.svg);
}
