@mixin square($color, $size, $angle) {
  transform: rotate($angle);
  transform-origin: center center;
  background-color: $color;
  width: $size;
  height: $size;
}

@mixin circle($color, $size) {
  background-color: $color;
  border-radius: 50%;
  width: $size;
  height: $size;
}

@mixin strip($color, $width, $height, $angle) {
  @include square($color, 0, $angle);
  width: $width;
  height: $height;
}
