menu, ul {
  padding: 0px;
  margin: 0px;
}

.menu {
  @extend .d-flex;
  @extend .align-items-center;
  &__item {
    font-size: .75em;
    color: $black;
    font-weight: $font-weight-black;
    padding: 3px 5px;
    list-style: none;
    &__link {
      white-space: nowrap;
      text-decoration: none;
      color: $black;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color: $pink;
      }
      &.active {
        color: $pink;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .menu {
    &__item {
      padding: 0px 15px;
    }
  }
}