<section id="about" class="section about">
  <figure class="col-6 col-sm-12 col-md-4 col-lg-3">
    <img class="logo" src="${require('assets/logo-colorful.svg')}" alt="natalJS logo">
  </figure>
  <div class="col-12 col-sm-12 col-md-8 col-lg-6">
    <h1 class="section-title--alternate">
      O que é a natal JS?
    </h1>
    <article class="article">
      <header>
        <h1 class="article__title">
          Comunidade para discutir javascript em Natal-RN
        </h1>
      </header>
      <p class="article__body">
        Os objetivos são: ajudar os programadores a obter um melhor conhecimento de programação em javascript; aproximar programadores locais; organizar encontros, conferências e contribuir com projetos open-source relacionados aos estudos.
      </p>
      <footer>
        <a href="#" class="btn">E ai essa galera</a>
      </footer>
    </article>
    <div class="about__wave" aria-hidden="true"></div>
  </div>
</section>
