<section id="be-part" class="be-part">
  <h1 class="section-title">Faça Parte</h1>
  <div class="be-part__list">
    <div class="be-part__item">Vá aos encontros!</div>
    <div class="be-part__item">Use a hasttag #nataljs</div>
    <div class="be-part__item">Divulgue nas redes socias</div>
    <div class="be-part__item">
      Contribua em 
      <a class="be-part__link" href="https://github.com/NatalJS" title="NatalJS" target="_blank">
        nossos projetos
      </a>
    </div>
  </div>
</section>
