<footer id="footer" class="footer">
  <ul class="footer__socials">
    <li>
      <a href="https://www.facebook.com/nataljs/" class="footer__social" title="facebook">
        <img src="${require('assets/facebook-logo.svg')}" class="footer__ico" alt="facebook">
      </a>
    </li>
    <li>
      <a href="https://github.com/NatalJS" class="footer__social" title="github">
        <img src="${require('assets/github-logo.svg')}" class="footer__ico" alt="github">
      </a>
    </li>
  </ul>
  <p class="footer__copy">
    © NatalJS.
  </p>
</footer>