<section id="how-to" class="section how-to">
  <h1 class="section-title">Por onde começar?</h1>
  <article class="article col-md-12 col-lg-8">
    <p class="article__body">
      Acompanhe nosso site, github e páginas do Facebook e Twitter (em breve) para ficar ligado nos eventos e projetos que estamos organizando. Como comunidade flat, todos podem contribuir igualmente e se tornar membros do projeto.
    </p>
    <footer class="text-center">
      <a href="https://github.com/NatalJS" class="btn--negative">GITHUB</a>
    </footer>
  </article>
</section>
