.about {
  &__wave {
    margin-top: 20px;
    margin-left: 15px;
    @include wave(yellow, 120px);
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .about {
    margin-top: 100px;
  }
}
