@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/utilities';

@import 'variables';
@import 'mixins';
@import 'components';
@import 'header';
@import 'about';


body {
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-regular;
  font-size: 10px;
  overflow-x: hidden;
}

.logo {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .logo {
    max-width: 300px;
  }

  body {
    font-size: 16px;
  }
}
