@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/utilities';

@import 'variables';
@import 'mixins';
@import 'components';
@import 'header';


body {
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-regular;
  font-size: 16px;
}
