.footer {
  background-color: $black;
  color: $white;

  &__socials {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .py-3;
    @extend .nav;
  }
  
  &__social {
    @extend .mx-4;
    @extend .p-1;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    border-radius: 50%;
    
    &:hover {
      background-color: $pink;
    }
  }
  &__ico {
    width: 24px;
    height: 24px;
  }
  
  &__copy {
    @extend .py-2;
    @extend .m-0;
    @extend .text-center;
    font-size: 1.200em;
    
    @include media-breakpoint-up(sm) {
      font-size: 0.750em;
    }
  }
}