@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/media';

@import 'variables';
@import 'mixins';
@import 'components';
@import 'header';
@import 'about';
@import 'how-to';
@import 'events';
@import 'event';
@import 'join_us';
@import 'call_for_papers';
@import 'footer';

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-regular;
  font-size: 10px;
  overflow-x: hidden;
  padding-top: 46px;
}

.logo {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.section {
  position: relative;
  padding-top: 50px;
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-sm-center;
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .logo {
    max-width: 300px;
  }

  body {
    font-size: 16px;
    padding-top: 105px;
  }

  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
